<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Démo de choix multiples...</title>
</head>
<body>
    <form method="post">
        <input type="checkbox" name="choix" value="a"> a <br/>
        <input type="checkbox" name="choix" value="b"> b <br/>
        <input type="checkbox" name="choix" value="c"> c <br/>
        <input type="checkbox" name="choix" value="d"> d <br/>
        <input type="checkbox" name="choix" value="e"> e <br/>
        <input type="checkbox" name="choix" value="f"> f <br/>
        <input type="checkbox" name="choix" value="g"> g <br/>
        <input type="checkbox" name="choix" value="h"> h <br/>
        <input type="submit">
    </form>

</body>
</html>